{
  "include": [
    "lib/**/*.ts"
  ],
  "extension": [
    ".ts"
  ],
  "require": [
    "ts-node/register"
  ],
  "reporter": [
    "text-summary",
    "html"
  ],
  "cache": true,
  "sourceMap": true,
  "instrument": true
}
